<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andreas</title>
</head>
<body>
    <nav>

    </nav>
    <center>
        <div id="genImgDiv">
            
            <h1 id="title">Generated image is</h1>
            <img src="../static/{{gen-img}}" alt="generated image" id="genImg">
            
        </div>
        <div id="selImgsDiv">
            <h2>The images you have selected are</h2>
            <img src="../static/content/{{content_image}}" alt="content image" class="images">
            <img src="../static/content/{{style_image}}" alt="style image" class="images">
        </div>
    </center>
    <footer>
        <center>&copy GNU General Public License V3.0</center>
    </footer>
</body>
</html>