<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Andreas</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Ruthie" rel="stylesheet">
  <link rel="stylesheet" href="../static/index.css">
  <style>
      
  </style>
</head>
<body>
  <div >
      <nav id="menuToggle">
          <ul id="menu">
              <li id="index"><a href="#"><i class="fas fa-stroopwafel"></i>ANDREAS</a></li>
              <li><a href="index.html#contactUs">Contact Us</a></li>
              <li><a href="index.html#references">References</a></li>
              <li><a href="index.html#howTo">How To</a></li>
              <li><a href="index.html#about">About</a></li>
          </ul>
      </nav>
  </div>
  <br>
  <center></center>
  <div id="imgDiv">
    <form action="/andreas/static/content/<content_image>" method="post" enctype="multipart/form-data">
      <div class="row">
        <a href='/andreas/static/content/{{ar[0]}}'> <img src="static/content/{{ar[0]}}" alt="content image"   height="80" width="80" > </a>          
        <a href='/andreas/static/content/{{ar[1]}}'> <img src="static/content/{{ar[1]}}" alt="content image"   height="80" width="80" > </a>
        <a href='/andreas/static/content/{{ar[2]}}'> <img src="static/content/{{ar[2]}}" alt="content image"   height="80" width="80" > </a>
        <a href='/andreas/static/content/{{ar[3]}}'> <img src="static/content/{{ar[3]}}" alt="content image"   height="80" width="80" > </a>          
      </div>
      <br>
      <div class="row">
        <a href='/andreas/static/content/{{ar[4]}}'> <img src="static/content/{{ar[4]}}" alt="content image"   height="80" width="80" > </a>
        <a href='/andreas/static/content/{{ar[5]}}'> <img src="static/content/{{ar[5]}}" alt="content image"   height="80" width="80" > </a>
        <a href='/andreas/static/content/{{ar[6]}}'> <img src="static/content/{{ar[6]}}" alt="content image"   height="80" width="80" > </a>
        <a href='/andreas/static/content/{{ar[7]}}'> <img src="static/content/{{ar[7]}}" alt="content image"   height="80" width="80" > </a>          
      </div>
      <input type="submit" value="Next">
    </form>
  </div>
</center>
<footer>
  <center>&copy GNU General Public License V3.0</center>
</footer>
</body>
</html>